parameters:
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    level: 6
    paths:
        - controllers
        - models
        - views
        - commands
        - migrations
        - widgets
        - core